# Dataset
Corrosion_Split/
data/
!data/corrosion detect/
!data/corrosion detect/images/
!data/corrosion detect/images/image1.jpeg

# Training outputs
runs/

# Notebooks
notebooks/

# Models
*.keras
*.h5
yolov8n.pt
last.pt

# Python
__pycache__/
*.pyc

# Streamlit
.streamlit/

# Zip files
*.zip\

